html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h2, h4 {
    margin-bottom: 1vh;
}

.background {
    background-attachment: scroll;
    width: 100%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-image: URL(https://i.pinimg.com/originals/be/22/94/be2294d961358cf8ae34fa78353534af.jpg);
    background-size: cover;
}
.container {
    background-size: 100%, auto;
    width: 90%;
    display: inline-block;
}

.form-div {
    margin-bottom: 2vh;
    overflow: hidden;
    border: solid;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.modifier-big {
    position: relative;
    border-radius: 50%;
    border: solid;
    border-width: 2px;
    width: 80px;
    height: 80px;
    text-align: center;
    z-index: 1;
}

.modifier-small {
    position: relative;
    border-radius: 50%;
    border: solid;
    border-width: 2px;
    width: 30px;
    height: 30px;
    text-align: center;
    z-index: 2;
}

.skills-label {
    margin-bottom: 1vh;
}

.skills-input {
    width: 2vw;
    float: right;
    margin-right: 20%;
}
.skills-left {
    overflow: hidden;
    float: left;
    width: 33%;
    text-align: left;

}

.skills-middle {
    overflow: hidden;
    width: 50%;
    float: left;
    text-align: left;
}

.skills-right {
    overflow: hidden;
    margin-left: 50%;
    text-align: left;

}

.basic-info {
    text-align: center;
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

#submit-btn {
    border-radius: 5px;
    border: 1px solid black;
    background-color: white;
    font-size: 16px;
    padding: 5px 10px;
    width: 75px;
    height: 30px;
}

#back-btn {
    border-radius: 5px;
    border: 1px solid black;
    background-color: white;
    font-size: 16px;
    padding: 5px 10px;
    width: 75px;
    height: 30px;
    margin-right: 15px;
}

.growl-modal {
    position: absolute;
    top: 30px;
    right: 4%;
    background-color: red;
    border: 1px solid black;
    border-radius: 5px;
    display: none;
}

.growl-content {
    padding:10px 25px;
    min-width: 353px;
    min-height: 17px;
}

.avatar-preview {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

#edit-avatar {
    position: absolute;
    top: 90px;
    left: calc(50% + 95px);
}

@media only screen and (max-width: 1177px) {
    #main-attr-container {
        width: 100% !important;
        float: unset !important;
    }

    #skills-container {
        margin-left: 2% !important;
        width: 100% !important;
        margin-top: 20px;
    }
}