.create-char-body-container {
    background-color: white;
    padding: 15px 20px
}

.create-char-dnd-emblem {
    width: 100%;
}

.create-char-traits-container {
    padding: 15px 20px;
    /* border: 1px solid black; */
    color: #696969;
}

.create-char-traits-container input {
    outline: unset;
    border: unset;
    border-bottom: 1px solid darkgrey;
    width: 90%;
}

.create-char-traits-left-side {
    width: 45%;
    display: inline-block;
}

.right-arrow {
    position: relative;
    top: 35px;
    width: 0px;
    height: 0px;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid black;
}

.create-char-name {
    padding-left: 18px;
    font-size: 40px;
}

.create-char-traits-input-container {
    margin-left: 15px;
}

.create-char-traits-right-side {
    display: inline-block;
    vertical-align: bottom;
    width: 55%;
    min-height: 100%;
}

.create-char-traits-right-side .traits-column{
    width: 33%;
    display: inline-block;
    position: relative;
}

.create-char-traits-right-side .traits-column .label {
    font-size: 12px;
    font-weight: 800;
}

.create-char-traits-right-side .traits-column input{
    margin-top: 4px;
    font-size: 18px;
}

.create-char-traits-right-side .traits-column .second-entry{
    margin-top: 25px;
}
.create-char-traits-right-side .traits-column .first-entry{
    margin-top: 12px;
}

.create-char-traits-right-side .traits-column .traits-class{
    width: 60%;
    display: inline-block;
}

.create-char-traits-right-side .traits-column .traits-level{
    width: 40%;
    display: inline-block;
}

.move-top {
    vertical-align: top;
}

/* HERE 6 chars */
.create-char-main-container {
    background-color: white;
    padding: 15px 30px;
    text-align: center;
}

.create-char-main-container .section {
    width: 9%;
    /* border: 1px solid black; */
    text-align: center;
    font-weight: 700;
    display: inline-block;
    margin-right: 18px;
    vertical-align: top;
}

.create-char-main-container .section:last-child {
    margin-right: 0px;
}

.create-char-main-container .section .avatar {
    background-color: lightgrey;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border:2px solid darkgrey;
    margin-top: 5px;
    display: inline-block;
}

.create-char-main-container .section .attr-background {
    border: 2px solid darkgrey;
    border-radius: 15px 0;
    height: 75px;
    background-color: lightgrey;
    margin-top: 5px;
}

.create-char-main-container .section .attr-background input{
    font-size: 51px;
    background-color: rgba(0, 0, 0, 0);
    border: unset;
    width: 60px;
    text-align: center;
    outline: none;
}

.create-char-main-container .section .attr-modifier input {
    border: unset;
    border: 2px solid darkgrey;
    border-radius: 50px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    position: relative;
    bottom: 14px;
    outline: unset;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
}

.create-char-skills-container {
    width: 22%;
    padding-left: 30px;
    padding-right: 10px;
    padding-bottom: 15px;
    display: inline-block;
}

.create-char-skills-container h1{
    font-size: 13px;
    margin-bottom: 3px;
    padding-left: 10px;
}

.create-char-skills-row {
    padding: 5px 5px 0px 5px;
}

.create-char-skills-row .bullet {
    border-radius: 50%;
    border: 2px solid black;
    width: 8px;
    height: 8px;
    display: inline-block;
    position: relative;
    top: 1px;
}

.create-char-skills-row input {
    border: unset;
    outline: unset;
    background-color: lightgrey;
    border-radius: 15px 0;
    width: 16%;
    margin-left: 5px;
    font-size: 14px;
    display: inline-block;
    text-align: center;
}

.create-char-skills-row .title {
    margin-left: 5px;
    display: inline-block;
}

.create-char-skills-row .symbol {
    display: inline-block;
    color: 	#C0C0C0;
    margin-left: 1px;
}

.hover-remove {
    position: absolute;
    top: 70px;
    right: 0px;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    outline: unset;
    border: 1px solid black;
    background-color: lightgreen;
    color: black;
    text-align: center;
}

.hover-remove span{
    font-size: 12px;
    position: relative;
    top: -2px;
    left: -3px;
}

.remainder-skills-container {
    width: 40%;
    padding-left: 30px;
    padding-right: 10px;
    padding-bottom: 15px;
    display: inline-block;
}

.remainder-skill {
    width: 30%;
    display: inline-block;
    text-align: center;
    padding: 0px 6px;
}

.remainder-skill h1 {
    margin: unset;
    font-size: 16px;
}

.remainder-skill input {
    border: unset;
    outline: unset;
    background-color: lightgrey;
    border-radius: 15px 0;
    margin-left: 5px;
    font-size: 51px;
    width: 90%;
    display: inline-block;
    text-align: center;
    padding: 5px 0px;
    margin-top: 5px;
}