/* #add-new-char-btn {
    border-radius: 5px;
    border: 1px solid black;
    background-color: white;
    font-size: 16px;
    padding: 5px 10px;
    float: right;
    margin-top: 15px;
    margin-right: 7%;
}

.search-bar-container {
    padding: 15px 20px;
}

.search-bar {
    width: 50%;
    margin-left: 25%;
    margin-right: 24%;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px 10px;
}

#list-of-users-container {
    text-align:center;
    width: 100%;
}

.list-of-users-row {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.user {
    width: 30%;
    float: left;
    margin: 5px 10px;
}

.user-outline {
    width: 90%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: lightgrey;
    padding: 8px 10px;
    height: 252px;
}

.user-outline:hover {
    cursor: pointer;
    background-color: darkgrey;
} */

/* body {
    background-image: url(../resources/dnd_background.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
} */

/* background-color: rgb(226, 16, 32) !important;
background-color: #ff6961 !important; */

.bg-pic { 
    background: url(../resources/dnd_background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.line {
    height: 1px;
    width: 100%;
    background: lightgrey;
}

.text-for-mid-line {
    position: relative;
    top: 36px;
    background: #fff;
    display: inline-block;
    padding: 0 20px;
}